body{
    font-family: Arial, sans-serif;
    background-color: mintcream;
    margin: 0;
}

header{
    color: blue;
    text-align:center;
    padding: 20px;
}

.product-card{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.products{
    display: flex;
    justify-content: center;
    gap: 50px;
}

button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover{
        background-color: darkblue;
    }